.heard {
    height: 60px;
    background-color: yellow;
    width: 100%;
    display: flex;
}

.warp {
    height: calc(100vh);
    display: flex;
    /*overflow: hidden;*/
    overflow: auto;
}

.left-wrap {
    width: 220px;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.left-heard {
    height: 52px;
    width: 220px;
    background-color: darkgoldenrod;
}

.left-con {
    background-color: #4a3974;
    overflow: auto;
    height: calc(100% - 52px);
}


.left-item {
    height: 400px;
    width: 50px;
    margin: 10px;
    background-color: #9e7b4c;
}


.right-wrap {
    box-sizing: border-box;
    width: calc(100% - 220px);
    height: 100%;
    /*overflow: hidden;*/
}

.right-heard {
    width: calc(100% - 220px);
    height: 52px;
    background-color: #607b45;
}

.right-con {
    background-color: #2d631e;
    height: calc(100% - 52px);
    /*overflow: auto;*/
}


.right-item {
    height: 400px;
    width: 50px;
    background-color: antiquewhite;
    margin: 10px;
}


/* 只有一个滚动条
 2个滚动条  右侧 负责整体 ？还是 只负责 右侧

 各负责 各个模块的

 左侧 左侧   头不动

 右侧 负责整体的  头会消失



*/
