.warp {
    border: #03e9f4 solid 2px;
    height: 300px;
    margin: auto;
    background-color: #ee8375;
}



.inner-div {
    margin: auto;
    border: #5bc734 solid 2px;
    height: 30px;
    /*background-color: yellow;*/
    /*background-color: rgba(255, 255, 255, 0.8);*/
    /*background: linear-gradient(to right, red 20px, yellow 30%, green 40%);*/
    background: linear-gradient(to right, #0048ff 40px, yellow 10px);
    background-size: 50px;
}


