#dom {
    width: 100%;
    height: 700px;
    border: 1px solid red;
    position: relative;
    /*margin: auto;*/
    /*display: flex;*/
    /*justify-content: center;*/
}

.yuan1 {
    transform:  rotateX(75deg) rotateZ(0deg);
    animation: yuan11 linear 2800ms infinite;
    position: absolute;
    bottom: -250px;
    left: 150px;
    border: 1px solid #876161;
    /*transform-origin:  center 100px 300px ;*/
    /*transform-origin:  bottom ;*/
    /*bottom: 200px;*/
}

.yuan2 {
    transform: rotateX(75deg) rotateZ(0deg);
    animation: yuan22 linear 2800ms infinite;
    position: absolute;
    bottom: -400px;
    border: 1px solid #85c663;
    transform-origin:  center 500px  ;
    /*transform-origin:  bottom ;*/

}



@keyframes yuan11 {
    0% {
        transform: rotateX(75deg) rotateZ(360deg);
    }
    25% {
        transform: rotateX(75deg) rotateZ(240deg);
    }
    50% {
        transform: rotateX(75deg) rotateZ(160deg);
    }
    75% {
        transform: rotateX(75deg) rotateZ(80deg);
    }
    100% {
        transform: rotateX(75deg) rotateZ(0deg);
    }

}

@keyframes yuan22 {
    0% {
        transform: rotateX(75deg) rotateZ(0deg);
    }
    25% {
        transform: rotateX(75deg) rotateZ(80deg);
    }
    50% {
        transform: rotateX(75deg) rotateZ(160deg);
    }
    75% {
        transform: rotateX(75deg) rotateZ(240deg);
    }
    100% {
        transform: rotateX(75deg) rotateZ(360deg);
    }

}
